.modal.show {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

.card, .modal-content {
    border-radius: 8px;
    color: white;
    border-color: white;
    background: rgba(0, 0, 0, 0.5);
}

li {
    color: white;
    border-color: white;
    background: rgba(0, 0, 0, 0.5);
}

.badge {
    font-size: 0.9rem;
}