.modal.show {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

.card {
    border-radius: 8px;
    border-color: white;
    background: rgba(0, 0, 0, 0.5);
}

.badge {
    font-size: 0.9rem;
}