<div class="p-0">
    <img *ngIf="game?.imageUrl" [src]="game.imageUrl || game.img" class="card-img-top game-img"
        alt="{{ game?.title }}" (error)="onImageError($event)" />
</div>
<div class="card-body">
    <h5 class="card-title">{{ game!.title }}</h5>
    <p class="summary">{{ game!.summary.slice(0, 120) }}...</p>
    <p>{{ game!.genre }}</p>
    <p>{{ game!.rating }} <fa-icon [icon]="faStar" style="color: yellow"></fa-icon>
    </p>
    <p>{{ game!.ageRating }} </p>
    <p>{{ game!.price | currency : 'EUR' }}</p>
    <p>
        Completed
        <fa-icon [icon]="faCheck" *ngIf="isCompletedByCurrentUser" style="color: greenyellow"></fa-icon>
        <fa-icon [icon]="faX" *ngIf="!isCompletedByCurrentUser" style="color: red"></fa-icon>
    </p>
</div>
<div class="row m-0" id="buttons">
    <button class="btn btn-sm btn-primary" [routerLink]="['/game', game._id || game.id, 'detail']">
        Detail
    </button>

    <button class="btn btn-sm btn-warning" [routerLink]="['/game', game._id || game.id, 'edit']"
        *ngIf="authService.isLoggedIn">
        Edit
    </button>

    <button class="btn btn-sm btn-danger" (click)="deleteGame()" *ngIf="authService.isLoggedIn">
        Delete
    </button>
</div>