.row {
  div.col div {
    display: inline-block;
    width: 80%;
    border: 2px white;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;

    p {
      margin-top: 0px;
      border-radius: 3px;
      background-color: #75b5da;
    }
  }
}

img {
  padding-bottom: 10px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: gray;
  img {
    width: 230px;
    height: 300px;
    padding: 0px;
  }
  #description {
    margin-top: auto;
    margin-bottom: auto;
  }
  display: inline-block;
  border: 2px white;
  padding: 5px;
  padding-inline: 20px;
}
