.row {
  div.col div {
    display: inline-block;
    width: 80%;
    border: 2px rgb(244, 254, 255) solid;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
    background-color: rgb(13, 31, 61);

    p {
      margin-top: 0px;
      border-radius: 3px;
      background-color: rgb(137, 190, 226);
    }
  }
}

img {
  padding-bottom: 10px;
}

tbody {
  background-color: black;
  border-width: 1px;
  border-color: gray;
 }

table {
  background-color: black;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(13, 31, 61);
  img {
    width: 230px;
    height: 300px;
    padding: 0px;
  }
  #description {
    margin-top: auto;
    margin-bottom: auto;
  }
  display: inline-block;
  border: 2px rgb(244, 254, 255) solid;
  padding: 5px;
  padding-inline: 20px;
}
