.row {
  div.col div {
    display: inline-block;
    width: 40%;
    border: 2px black solid;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;

    p {
      margin-top: 0px;
      border-radius: 3px;
      background-color: #75b5da;
    }
  }
}

img {
  padding-bottom: 10px;
}

.card {
  img {
    width: 200px;
    height: 300px;
    padding: 0px;
  }
  display: inline-block;
  border: 2px black solid;
  padding: 5px;
  padding-inline: 20px;
}
