<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-6 col-lg-7 card">
            <div class="d-flex justify-content-center align-items-center">
                <div id="description">
                    <h3 id="aboutTitle">Over deze applicatie</h3>
                    <p>
                        Deze applicatie is gemaakt in het kader van het vak 'Clientside web
                        frameworks' van Avans Hogeschool Breda.
                    </p>
                    <h1>AllMyGames</h1>
                    <p>
                        Bij dit project is het doel om een Angular frontend applicatie te
                        realiseren in combinatie met een NoSQL database. Er horen 6 entiteiten bij dit project,
                        namelijk:
                        User,
                        Gamelist, Game, Review, Developer en Adres.
                        Het doel van mijn applicatie is dat gebruikers kunnen in verschillende lijsten (of 1 grote
                        lijst)
                        kunnen
                        bijhouden welke games zij op het moment bezitten. Ook kunnen gebruikers reviews schrijven over
                        deze
                        games.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 offset-2">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center px-3 py-3">
                    <!-- Je mag een foto van jezelf toevoegen, maar dat is niet verplicht. -->
                    <img src="/assets/images/pasfoto.jpg" class="card-img-top px-4 py-4" alt="..." />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Thomas Quartel</h5>
                    <p class="card-text">Studentnummer: 2187613</p>
                </div>
            </div>
        </div>
    </div>

    <h3>Entiteiten</h3>
    <p>
        Hier geef je een toelichting op je entiteiten. Voeg ook een afbeelding van
        je model toe zoals dat bij NoSql gevraagd wordt.
    </p>

    <img src="assets/images/allmygames.drawio.png" class="px-5 py-5" alt="..." />

    <div class="row row-cols-2 gy-3">
        <div class="col">
            <div>
                <p>User</p>
                <ul>
                    <li>id: number</li>
                    <li>name: string</li>
                    <li>age: number</li>
                    <li>emailAdres: string</li>
                    <li>phoneNumber: string</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div>
                <p>GameList</p>
                <ul>
                    <li>id: number</li>
                    <li>name: string</li>
                    <li>description: string</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div>
                <p>Review</p>
                <ul>
                    <li>id: number</li>
                    <li>title: string</li>
                    <li>description: string</li>
                    <li>rating: number</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div>
                <p>Game</p>
                <ul>
                    <li>id: number</li>
                    <li>title: string</li>
                    <li>summary: string</li>
                    <li>rating: number</li>
                    <li>ageRating: string</li>
                    <li>price: number</li>
                    <li>completed: boolean</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div>
                <p>Developer</p>
                <ul>
                    <li>id: number</li>
                    <li>name: string</li>
                    <li>dateFounded: date</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div>
                <p>Adres</p>
                <ul>
                    <li>id: number</li>
                    <li>postalCode: string</li>
                    <li>street: string</li>
                    <li>houseNumber: number</li>
                </ul>
            </div>
        </div>
    </div>
</div>