<div class="component edit">
    <div class="row"></div>

    <div *ngIf="gameExists">
        <h1>{{ staticGame?.title }}</h1>
    </div>
    <div *ngIf="!gameExists">
        <h1>Add game</h1>
    </div>

    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-6">
                <div class="container">
                    <form #gameEditForm="ngForm" name="form" (ngSubmit)="onSubmit()">
                        <fieldset>
                            <div class="form-group">
                                <p><label for="title">Title</label>
                                    <input type="text" class="form-control" placeholder="Game title"
                                        [(ngModel)]="game!.title" name="title" required #title="ngModel" />
                                </p>
                            </div>
                            <p><label for="summary">
                                    Summary
                                </label>
                                <input type="text" class="form-control" placeholder="Game summary"
                                    [(ngModel)]="game!.summary" name="summary" #sumaary="ngModel" required
                                    minlength="3" />
                            </p>
                            <p><label for="price">Price</label>
                                <input type="number" class="form-control" [(ngModel)]="game!.price"
                                    placeholder="Game price" name="price" #price="ngModel" required />
                            </p>
                            <p><label for="rating">Rating</label>
                                <input type="number" class="form-control" [(ngModel)]="game!.rating"
                                    placeholder="Game rating" name="rating" #rating="ngModel" required />
                            </p>
                            <p><label for="ageRating">Age rating</label>
                                <input type="text" class="form-control" [(ngModel)]="game!.ageRating"
                                    placeholder="Game age rating" name="ageRating" #ageRating="ngModel" required />
                            </p>
                            <p><label for="image">Image URL</label>
                                <input type="text" class="form-control" [(ngModel)]="game!.img"
                                    placeholder="Game image url" name="image" #img="ngModel" required />
                            </p>
                            <p id="completed"><label for="completed">Have you completed the game?</label>
                                <input type="checkbox" class="form-checkbox" [(ngModel)]="game!.completed"
                                    name="completed" required #completed="ngModel" />
                            </p>
                        </fieldset>

                        <div class="row">
                            <!-- Bij Save roepen we de save() functie aan, en navigeren
                              terug naar details binnen die functie -->
                            <div class="col">
                                <button role="button" type="submit" class="btn btn-primary mx-2"
                                    [disabled]="!gameEditForm.valid">
                                    Submit
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-secondary float-right" href="#" role="button"
                                    routerLink="/game">
                                    Cancel
                                </button>
                            </div>
                            <!-- Bij Cancel doen we nu nog niets, maar gaan gewoon terug naar de details -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>