<div class="container">
    <div class="row">
        <div class="col-2 m-auto">
            <img src="{{ game!.img }}" alt="" class="w-100" />
        </div>
        <div class="col">
            <div class="row m-5">
                <h2>{{ game!.title }}</h2>
                <h3 class="text-center">Summary</h3>
                    <p class="fst-italic">{{ game!.summary }}</p>
                    <p>Price: {{ game!.price | currency : 'EUR' }}</p>
                    <p>Rating:</p>
                    <p>{{ game!.rating }} <fa-icon [icon]="faStar" style="color: yellow"></fa-icon>
                    <p>Age Rating: {{ game!.ageRating }}</p>
                    <p>Have you played this game?</p>
                    <p>
                        <fa-icon [icon]="faCheck" *ngIf="game!.completed" style="color: greenyellow"></fa-icon>
                        <fa-icon [icon]="faX" *ngIf="!game!.completed" style="color: red"></fa-icon>
                    </p>
                <h3>Reviews</h3>
                <hr>
                <app-review></app-review>
            </div>
        </div>
    </div>
</div>